<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">
        Potentially incorrect/obscene ad text. Please check the text of the advertisement: <br> {{text_advertisement}}
      </p>
    </td>
  </tr>
  <!--  <tr>-->
  <!--    <td style="text-align: center;">-->
  <!--      <button><a href="{{frontUrl}}/activate?token={{actionToken}}">опублікувати оголошення</a>SUBMIT</button>-->
  <!--    </td>-->
  <!--  </tr>-->
  <!--  <tr>-->
  <!--    <td style="text-align: center;">-->
  <!--      <button><a href="{{frontUrl}}/activate?token={{actionToken}}"> видалити оголошення </a>SUBMIT</button>-->
  <!--    </td>-->
  <!--  </tr>-->
</table>